.git
.gitignore
.env
.env.*
!.env.example

node_modules
vendor

.vscode
.idea

*.md
tests

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

public/build
public/hot

storage/clockwork

*.swp
*.swo